- content_for :title do
  %h1 Dashboard
  
- content_for :main do
  %h2 Your Sites
  %ul
    - current_user.websites.each do |website|
      %li= link_to(website.name, website_path(website))
  .links= link_to("New", new_website_path)
  
  %h2 Your Settings
