.bundle
db/*.sqlite3
log/*.log
tmp/**/*
nbproject
debug.log
.eprj
.loadpath
.metadata
.project
log/*
tmp/*
db/schema.rb
config/database.yml
public/stylesheets/*.css
public/javascripts/all.js
public/system/*
doc/*
.DS_Store
._*
Thumbs.db
test/*
