
- content_for :title do
  %h1= @person.email

- content_for :main do
  %h5 Websites
  %ul
    - @person.websites.each do |website|
      %li= link_to website.name, website_path(website)
  
  
  %p
    = link_to 'Edit', edit_person_path(@person)
    \|
    = link_to 'Back', people_path
