.hide
  :display none
  
ul#slapped
  li
    :float left
    :margin 10px
    a.picture_to_slap
      img
        :width 100px
        :height 100px
    a.slapped_picture
      :display none
      img
        :width 100px
        :height 100px