%h1 DevSlap.com!

#logo
  = link_to(image_tag("http://assets2.completelynovel.com/original/384/DevSlapHomePage2_03.gif")

.blue
  %p Hello
  
%h2 Something has gone wrong. Time to dish out some punishment... 
  