%head
  %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8" }/
  %title= CONFIG['site_name']
  %link{:type => "image/x-icon", :rel => "shortcut icon", :href => "/images/favicon.png"}
  %meta{:name => "description", :content => ""}
  %meta{:name => "keywords", :content => ""}
    
  = javascript_include_tag("https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")